Скрипты/.vscode/settings.json
Скрипты/.vscode/launch.json
Скрипты/Пример запуска скрипта - синхронизация артефактов.txt
Скрипты/Пример запуска скрипта - создание базы для разработке по задаче.txt
Скрипты/Пример запуска скрипта - выгрузка базы на тест по задаче.txt
